[user]
  name = Joonas Rouhiainen
  email = joonas.rouhiainen@iki.fi
  signingkey = 5B571BC569DB54776C7E20033D0D6AB496E3D9F5
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[color]
  ui = auto
[push]
  default = simple
[credential]
  helper = osxkeychain
[commit]
  gpgsign = true
[alias]
  psuh = push
  commend = commit --amend --no-edit --reset-author
  please = push --force-with-lease
  st = status --short --branch
  glog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
[diff]
  algorithm = patience
  compactionHeuristic = true
[color "diff"]
  whitespace = red reverse
[pager]
  diff = diff-highlight | less
  log = diff-highlight | less
  show = diff-highlight | less
[interactive]
  diffFilter = diff-highlight
[submodule]
  fetchJobs = 4
[merge]
  conflictstyle = diff3

